/* * {
    border: 1px solid red;
} */

.container {
    height: 100vmax;
    width: auto;
}

.divheight {
    height: 14vh;
}

/* NavBar */

nav {
    background-color: rgb(163,163,163);
    height: 4vmax;
}

.navbar-toggler {
    height: 4.15vmax;
    position: relative;
    bottom: 1.25vmax;
    transform: scale(.75);
}

.navbar-toggler-icon {
    position: relative;
    bottom: .775vmax;
}


/* Title */


.background {
    content: "";
    position: absolute;     
    z-index: -1;   
    top: 0;      
    left: 0;      
    bottom: 0;      
    right: 0;
    height: 100vmax;
    width: auto;      
    background-image:url('./images/investigative.jpg');      
    background-repeat:no-repeat;      
    background-size: cover;      
    background-position:center;      
    opacity: 1;
}

/*  Search Fields   */

.search-column {
    margin: .75vmax;
    color: white;
}

.eyeColor {
    position: relative;
    right: 4%;
}

.occupation {
    position: relative;
    right: 6.5%;
}

.search-button {
    z-index: 1;
    position: relative;
    left: 30%;
    width: 45%;
    cursor: pointer;
    transition: all 1s ease;
}

.search-button:hover {
    background-color: rgb(26, 87, 157);
    color:  white;
}

/* TABLE */


.table {
    margin-bottom: 0;
}

.tableDiv {
    overflow: auto;
    height: 40vmax;
    width: 90%;
    padding: 0;
    margin-top: .75vmax;
    text-align: center;
}

thead {
    text-align: center;
}

#photo{
    cursor: pointer;
}


 /* Scroll Bar */

::-webkit-scrollbar {
    width: .75vmax;
    height: 1vmax;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: rgb(92, 88, 88); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(111, 109, 109); 
}




/* Media Breakpoints */


@media (min-width: 1200px)
{ 

}

@media (min-width: 992px) 
{
    nav {
        height: 2.5vmax;
    }

}

@media (min-width: 768px) 
{

}

@media (min-width: 576px) 
{

}