* {
    margin: 0;
    padding: 0;
    border: 0;

}

body,html,.background {
    height: 100%;
    width: 100%;
}

.background {
    background-image: url(./images/investigative.jpg);
    background-size: cover;
    opacity: .85;
}

.background-img {
    max-width: 100%;
    height: auto;
}

/*Search Form */

.nameForm {
    display: inline-flex;
    z-index: 2;
    position: absolute;
    top: 7%;
    left: 15.5%;
    width: 70%;
    height: 13.5%;
    padding: .5vw;
    justify-content: space-around;
    color: white;
}

/* .search-columns {
    
} */

.search-columns > label {
    font-size: 1.25vw;
}

.search-columns > label > input {
    font-size: 1.25vw;
    margin-left: .25vw;
    background-color: rgb(238, 230, 230);
    color: black;
}

.search-columns > .eyeColor {
    position: relative;
    right: 5.75%;
}

.search-button {
    position: relative;
    left: 40%;
    width: 10vw;
    height: 1.75vw;
    font-size: 1.25vw;
    font-weight: bold;
    text-align: center;
    line-height: 1px;
    background-color: rgb(134, 127, 127);
    transition: background-color 1s ease;
    transition: color .975s ease;
}

.search-button:hover {
    background-color: rgb(45,71,102);
    color: white;
}


/* Table */

.most-wanted-table {
    cursor: pointer;
    position: absolute;
    top: 20%;
    left: 15.5%;
    width: 70%;
    height: 52.75%;
    overflow-y: auto;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 1.5vh;
    height: 1.5vh;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: rgb(92, 88, 88); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(111, 109, 109); 
}









/* Media Breakpoints */

@media (min-width: 1200px) 
{ 

}

@media (min-width: 1200px)
{ 

}

@media (min-width: 992px) 
{

}

@media (min-width: 768px) 
{

}

@media (min-width: 576px) 
{

}