* {
    margin: 0;
    border: 0;

}

.most-wanted-table {
    position: absolute;
    top: 20%;
    left: 15.5%;
    width: 70%;
    height: 52.75%;
    overflow-y: auto;
}

.search-bar {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    height: 2.75%;
    text-align: left;
}

.search-group, .search-outline{
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;

}

.search-label {
    position: absolute;
    font-size: 1.5vw;
    color:white;
}

.search-form-input {
    border-radius: 0;
    position: absolute;
    left: -15%;
    width: 120%;
    height: 97%;
}

.search-form-input::after {
    border-radius: 0;
}

.search-btn {
    position: absolute; 
    top: -.15%;
    left: 90%;
    width: 20.5%;
    border-top-left-radius: 10%;
    background-color: transparent;
    font-size: .75vw;
}


.search-btn:hover {
    text-shadow: rgb(35,110,253) 0px 0px 2px;
}