* {
    margin: 0;
    padding: 0;
    border: 0;

}

body,html,.background {
    height: 100%;
    width: 100%;
}

.background {
    background-image: url(./images/investigative.jpg);
    background-size: cover;
    opacity: .85;
}

.background-img {
    max-width: 100%;
    height: auto;
}

/*Search Form */

.nameForm {
    display: inline-flex;
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 85%;

}

.nameForm > label {
    color: white;
}

.nameForm > input {
    width: 12.5%;
}




/* Table */

.most-wanted-table {
    cursor: pointer;
    position: absolute;
    top: 20%;
    left: 15.5%;
    width: 70%;
    height: 52.75%;
    overflow-y: auto;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 1.5vh;
    height: 1.5vh;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: rgb(92, 88, 88); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(111, 109, 109); 
}









/* Media Breakpoints */

@media (min-width: 1200px) 
{ 

}


.search-btn:hover {
    text-shadow: rgb(35,110,253) 0px 0px 2px;
}

@media (min-width: 1200px)
{ 

}

@media (min-width: 992px) 
{

}

@media (min-width: 768px) 
{

}

@media (min-width: 576px) 
{

}